<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Server=tcp:prd-genesis-adm.database.windows.net,1433;Initial Catalog=GenesisAero;Persist Security Info=False;User ID=genesisadmin;Password=Y53apaQ3BrEf$e6h#ka#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="RollingLogFileAppender" />   -->
      <!--Enable this line if you want write log file into plain text file-->
      <appender-ref ref="AdoNetAppender" />
      <!--Enable this line if you want write log file into sql server-->
    </root>
  </log4net>
  <connectionStrings>
    <!-- DESENVOLVIMENTO BIZPARK -->
    <!--<add name="DefaultConnectionString" connectionString="Data Source=tcp:srv-genesis.database.windows.net,1433;Initial Catalog=GenesisSales;Persist Security Info=True;User ID=genesisadmin;Password=P@ssw0rd@)!#" providerName="System.Data.SqlClient" />-->
    <!-- PREPROD -->
    <add name="DefaultConnectionString" connectionString="Data Source=tcp:prd-genesis-adm.database.windows.net,1433;Initial Catalog=GenesisAero;Persist Security Info=True;User ID=genesisadmin;Password=Y53apaQ3BrEf$e6h#ka#" providerName="System.Data.SqlClient" />
    <!-- PRODUCÃO -->
    <!--<add name="DefaultConnectionString" connectionString="Data Source=tcp:prd-genesis-adm.database.windows.net,1433;Initial Catalog=GenesisAero;Persist Security Info=True;User ID=genesisadmin;Password=1q2w3e4r5t6y7u8i9o0p!" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="DefaultConnection_ConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--- sky prepago friendly Names-->
    <add key="DIG30D14,9" value="DIGITAL 30D 14.90" />
    <add key="SMT15D32,9" value="SMART 15D 32.90 " />
    <add key="NM15D51,9" value="MASTER 15D 51.90 " />
    <add key="SMT30D52,9" value="SMART 30D 52.90 " />
    <add key="NM30D 82,9" value="MASTER 30D 82.90 " />
        <add key="OiOffDDD" value="00" />
        <!--<add key="OiOffDDD" value="65,66,69,68,62,64,91,93,92,94,95,96,97,75,73,74,31,33,38" />-->
    <add key="mongoDbConnection" value="mongodb://rpcarrga:Svt0h8DK0sITqKpse2xZJMCJJXUVlZwLo3A4xRhexs9TasJcqQGHZgrQDNlaUvGGU0L9yS09YGbL0SD1vxZX4Q==@rpcarrga.documents.azure.com:10250/?ssl=true&amp;sslverifycertificate=false" />
    <add key="idRechargeProduct" value="4" />
    <add key="DefaultsWaitPayableDays" value="15"></add>
    <!--<add key="primary_store" value="teste" />
    <add key="primary_name" value="teste" />
    <add key="rv_password" value="teste" />-->
    <!-- DEV -->
    <!--<add key="UriRechagerProvider" value="https://xml.cellcard.com.br/teste/integracao_xml.php" />-->
    <!--<add key="pargarme_uri" value="https://api.pagar.me/1" />
    <add key="pagarme_key" value="ak_test_LnCKbiE0p7MeBf59EiklqUTwzpOJ8o" />
    -->
    <!-- recebedor "CONTA BANCARIA DE TESTES ( jocler) re_cix0m4z3q02ksoi6d50da3v4x  key de teste-->
    <!--
    <add key="redepay_account_aquirer" value="re_cix0m4z3q02ksoi6d50da3v4x" />-->
    <!-- DEV FIM  -->
    <!-- PROD -->
    <!--Rv Recarga-->
    <add key="UriRechagerProvider" value="https://xml.cellcard.com.br:4443/integracao_xml.php" />
    <!-- Pagarme -->
    <add key="pagarme_key" value="ak_live_DOFCQW1DvYmYiSYMvrbwWDgSDSdjMw" />
    <add key="redepay_account_aquirer" value="re_citc09cjz09ijf05x933dvov3" />
    <!-- PROD  FIM -->
    <add key="pargarme_uri" value="https://api.pagar.me/1" />
    <add key="rv_api_version" value="3.96" />
    <!-- desenv -->
    <!-- Prod -->
    <!--<add key="primary_store" value="redepay" />
    <add key="primary_name" value="redepay" />
    <add key="rv_password" value="37y%69" />
    <add key="UriRechagerProvider" value="https://xml.cellcard.com.br:4443/integracao_xml.php" />
    <add key="rv_api_version" value="3.96"/>-->
  </appSettings>
  <system.web>
    <globalization culture="pt-br" />
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 2841D562-97D0-4226-8A60-7B72C487DCD2-->